body
{
    background-color: rgb(184, 175, 175) ;
}
.taille
{
    width: 40px;

}
.police
{
    font-family:"Hello Valentina" ;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
@font-face {
        font-family: "Hello Valentina";
        src: url("Hello Valentina.ttf");
}

.zone_groupe
{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
 
}
.groupe
{
display: flex;
flex-direction: column;
align-items: center;
margin-right: 30px;
width: 150px;

}
.fond
{
    background-color: white;
}


body, html {

background-color: black;
color: white;
text-align: center;

}



.h1 {


text-align: center;

}

.titre2 {

font-size: 25px;

}


button {

border-radius: 20px;
margin-top: 10px;


}


.prenoms {

list-style: none;   
background-color: white;
color: black;
border-radius: 20px;

}

.liste {

list-style: none;

}

.ajouter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form {

display: flex;
flex-direction: column;
}
